/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

.centerlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.hr{
padding-left: 15px;
}

html,body{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 550px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(238, 234, 234, 0.37) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
text-align: center;

}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


.contiene_dash {
    display: inline-block;
    border: 5px solid rgb(210, 199, 250);
    border-radius: 4px;
    margin: 20px;
    width: 150px;
    height: 125px;
    padding: 10px;
    background-color: #a4a4a4;
    text-align: center;
    vertical-align: middle;

}

.texto_dash {
    font-family: "Courier-new";
    color: rgba(255, 255, 255, 0.795);
    text-align: center;
    font-size: 15px;

}

.icono_dash {

    display: block;
    text-align: center;
    font-size: 70px;
    color: white;
}


.btn-primary2{
    background-color:#000000;
    border-color:#367fa9}

 /* Three image containers (use 25% for four, and 50% for two, etc) */
 .column2 {
    float: left;
    width: 45%;
    padding: 1px;
  }
  
  /* Clear floats after image containers */
  .row2::after {

    clear: both;
    display: table;
  } 

  /* Colocar Color a tabla en parte superior*/

th {
    color: white;
	background-color: #0056a6;
}

    /*Tamaño de texto en Body tabla SOBRESALIR*/
   
    .b-text {
        font-size: 14px;
        color: black;
    }

    /* H3-sin uso actualmente*/

.h3
{
    font-family:"Audiowide-Regular";
}

/* Headings */
h3 {
    font-weight: bold;
    font-family: ‘Audiowide-Regular‘, sans-serif;
}

/*Tamño de fuente en cuerpo tabla*/
td
{
    font-size: 12px;
    vertical-align:baseline;
}
#tamanioContent{
    width: 100%;
}